          <span id="update_PSdata">{% for ticker in PSdata %}
            {% if ticker.lastPrice < ticker.closePrice %}
            <!-- Penny: if red day -->
            <div class="col mb-4">
              <div class="card card-red">
                <div class="card-body">
                  <h5 class="card-title">{{ticker.symbol}}
                  </h5>
                  <p><b>Price</b>: {{"$%.2f"|format(ticker.lastPrice)}} <span
                      style="color: red;">({{"%.2f"|format("%.2f"|format(ticker.lastPrice)|float - "%.2f"|format(ticker.closePrice)|float)}})</span>
                  </p>
                  <!--<p>
                      <a class="btn btn-sm btn-danger" data-toggle="collapse" href="#{{ticker.symbol}}H" role="button"
                        aria-expanded="false" aria-controls="{{ticker.symbol}}H">
                        More
                      </a>
                    </p>-->
                  <!--<div class="collapse" id="{{ticker.symbol}}H">-->
                  <div class="card card-body">
                    <p><b>Open</b>: {{"$%.2f"|format(ticker.openPrice)}}</p>
                    <p><b>High</b>: {{"$%.2f"|format(ticker.highPrice)}}</p>
                    <p><b>Low</b>: {{"$%.2f"|format(ticker.lowPrice)}}</p>
                    <p><b>Last Close</b>: {{"$%.2f"|format(ticker.closePrice)}}</p>
                    <p><b>Volume</b>: {{ticker.totalVolume}}</p>
                  </div>
                  <!--</div>-->
                </div>
              </div>
            </div>
            {% elif ticker.lastPrice > ticker.closePrice %}
            <!-- Penny: if green day -->
            <div class="col mb-4">
              <div class="card card-green">
                <div class="card-body">
                  <h5 class="card-title">{{ticker.symbol}}
                  </h5>
                  <p><b>Price</b>: {{"$%.2f"|format(ticker.lastPrice)}} <span
                      style="color: green;">(+{{"%.2f"|format("%.2f"|format(ticker.lastPrice)|float - "%.2f"|format(ticker.closePrice)|float)}})</span>
                  </p>
                  <!--<p>
                      <a class="btn btn-sm btn-success" data-toggle="collapse" href="#{{ticker.symbol}}H" role="button"
                        aria-expanded="false" aria-controls="{{ticker.symbol}}H">
                        More
                      </a>
                    </p>-->
                  <!--<div class="collapse" id="{{ticker.symbol}}H">-->
                  <div class="card card-body">
                    <p><b>Open</b>: {{"$%.2f"|format(ticker.openPrice)}}</p>
                    <p><b>High</b>: {{"$%.2f"|format(ticker.highPrice)}}</p>
                    <p><b>Low</b>: {{"$%.2f"|format(ticker.lowPrice)}}</p>
                    <p><b>Last Close</b>: {{"$%.2f"|format(ticker.closePrice)}}</p>
                    <p><b>Volume</b>: {{ticker.totalVolume}}</p>
                  </div>
                  <!--</div>-->
                </div>
              </div>
            </div>
            {% else %}
            <!-- Penny: if break even day -->
            <div class="col mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ticker.symbol}}
                  </h5>
                  <p><b>Price</b>: {{"$%.2f"|format(ticker.lastPrice)}}
                    <span
                      style="color: gray;">(±{{"%.2f"|format("%.2f"|format(ticker.lastPrice)|float - "%.2f"|format(ticker.closePrice)|float)}})</span>
                  </p>
                  <!--<p>
                      <a class="btn btn-sm btn-secondary" data-toggle="collapse" href="#{{ticker.symbol}}H"
                        role="button" aria-expanded="false" aria-controls="{{ticker.symbol}}H">
                        More
                      </a>
                    </p>-->
                  <!--<div class="collapse" id="{{ticker.symbol}}H">-->
                  <div class="card card-body">
                    <p><b>Open</b>: {{"$%.2f"|format(ticker.openPrice)}}</p>
                    <p><b>High</b>: {{"$%.2f"|format(ticker.highPrice)}}</p>
                    <p><b>Low</b>: {{"$%.2f"|format(ticker.lowPrice)}}</p>
                    <p><b>Last Close</b>: {{"$%.2f"|format(ticker.closePrice)}}</p>
                    <p><b>Volume</b>: {{ticker.totalVolume}}</p>
                  </div>
                  <!--</div>-->
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </span>