{% extends 'base.html' %}
{% block uppertitle %} PORTFOLIO {% endblock %}
{% block title %} Portfolio {% endblock %}
{% block date %} {{date}} {% endblock %}

{% block content %}
<br><br>
{% with messages = get_flashed_messages() %} {% if messages %}
<div class="container notification is-success">{{ messages[0] }}</div>
{% endif %} {% endwith %}

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<br>

<span id="update_Portfoliodata">
  {% for ticker in data[0].securitiesAccount.positions|sort(attribute='marketValue', reverse=True) %}
  <hr>
  {{ticker}}
  {% endfor %}
</span>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
  /* Ajax */
  $(function () {
    window.setInterval(function () {
      loadNewPortfoliodata()
    }, 120000)

    function loadNewPortfoliodata() {
      $.ajax({
        url: "/update_Portfoliodata",
        type: "POST",
        dataType: "json",
        success: function (data) {
          $(update_Portfoliodata).replaceWith(data)
        }

      });
    }
  });

  /* back to top button */
  mybutton = document.getElementById("myBtn");

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>
{% endblock %}