{% extends 'base.html' %}

{% block title %} Portfolio {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-success" id="marg">
 {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<div id="marg">

</div>

<div id="marg">
 <div class="container">
  <div class="col mb-4">
   <div id="page">
    <!-- this block is shown on regular to large screens -->
    <div class="maincontent">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae nesciunt, iure sint inventore quas totam accusantium, quia sunt qui officia porro molestias vitae ullam saepe, delectus nostrum aut hic eos? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius reiciendis at, et, dolores cum id laudantium, aliquid officia doloribus deserunt pariatur nam labore modi. Aliquid nemo neque odio porro possimus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora saepe quo harum sunt accusantium quibusdam officiis nobis non! Tempora esse delectus iusto saepe quasi, vitae facilis, ab eligendi ullam totam quae! Maiores dicta, reprehenderit saepe a possimus assumenda, ratione mollitia reiciendis ipsam nam ipsum dolorum excepturi consequatur. Voluptatum, commodi incidunt fugiat perferendis molestias accusantium officiis, aliquid doloremque nam, eligendi suscipit.
    </div>
    <div class="menuleftcontent">
     <ul id="menu">
      <li><a href="#firstcontent">first</a></li>
      <li><a href="#secondcontent">second</a></li>
     </ul>
    </div>
    <div id="clearingdiv"></div>
   </div>

   <!-- this block is shown on small screens -->
   <div class="maincontent-sm">
    <div id="firstcontent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem quas et fugiat? Debitis,
     assumenda laudantium. Culpa perspiciatis aperiam id obcaecati, illo amet commodi! Veniam id minima laborum aut et
     error. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi ratione molestiae nisi quasi ipsa sapiente
     accusantium a sunt, voluptatibus eaque fugiat ea ipsum laborum maiores, autem beatae saepe dolor incidunt.</div>
    <div id="secondcontent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem quas et fugiat? Debitis,
     assumenda laudantium. Culpa perspiciatis aperiam id obcaecati, illo amet commodi! Veniam id minima laborum aut et
     error. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi ratione molestiae nisi quasi ipsa sapiente
     accusantium a sunt, voluptatibus eaque fugiat ea ipsum laborum maiores, autem beatae saepe dolor incidunt.</div>
   </div>
  </div>
 </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



{% endblock %}