{% extends 'base.html' %}

{% block title %} Portfolio {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-success" id="marg">
 {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<div id="marg">

</div>

<div id="marg">
 <div class="container">
  <div class="col mb-4">
   <div id="page">
    <!-- this block is shown on regular to large screens -->
    <div class="maincontent">
     <div id="firstcontent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem quas et fugiat? Debitis,
      assumenda laudantium. Culpa perspiciatis aperiam id obcaecati, illo amet commodi! Veniam id minima laborum aut et
      error. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi ratione molestiae nisi quasi ipsa sapiente
      accusantium a sunt, voluptatibus eaque fugiat ea ipsum laborum maiores, autem beatae saepe dolor incidunt.</div>
     <div id="secondcontent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem quas et fugiat? Debitis,
      assumenda laudantium. Culpa perspiciatis aperiam id obcaecati, illo amet commodi! Veniam id minima laborum aut et
      error. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi ratione molestiae nisi quasi ipsa sapiente
      accusantium a sunt, voluptatibus eaque fugiat ea ipsum laborum maiores, autem beatae saepe dolor incidunt.</div>
    </div>

    <div class="menuleftcontent">
     <ul id="menu">
      <li><a href="#firstcontent">first</a></li>
      <li><a href="#secondcontent">second</a></li>
     </ul>
    </div>
    <div id="clearingdiv"></div>
   </div>

   <!-- this block is shown on small screens -->
   <div class="maincontent-sm">
    <div id="firstcontent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem quas et fugiat? Debitis,
     assumenda laudantium. Culpa perspiciatis aperiam id obcaecati, illo amet commodi! Veniam id minima laborum aut et
     error. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi ratione molestiae nisi quasi ipsa sapiente
     accusantium a sunt, voluptatibus eaque fugiat ea ipsum laborum maiores, autem beatae saepe dolor incidunt.</div>
    <div id="secondcontent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem quas et fugiat? Debitis,
     assumenda laudantium. Culpa perspiciatis aperiam id obcaecati, illo amet commodi! Veniam id minima laborum aut et
     error. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi ratione molestiae nisi quasi ipsa sapiente
     accusantium a sunt, voluptatibus eaque fugiat ea ipsum laborum maiores, autem beatae saepe dolor incidunt.</div>
   </div>
  </div>
 </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



{% endblock %}