body {
  background-color: rgb(233, 233, 233);
}

#nav-shad {
  border-bottom: 3px rgb(0, 0, 0, .15) solid;
}

#navbar {
  background-color: rgb(233, 233, 233);

}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  background-color: rgb(155, 155, 155);
  /* Modern Browsers */
}

#marg {
  margin-top: 20px;
}

#pad {
  padding-top: 20px;
}

#btt {
  margin-bottom: 15px;
}

#text-center {

  text-align: center;
}

/* Portfolio layout */
#page {
  margin-left: 200px;
}

@media only screen and (max-width: 1000px) {
  .menuleftcontent {
    display: none;
  }

  .maincontent {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .maincontent-sm {
    display: none;
  }
}

.maincontent {
  float: right;
  width: 95%;
  position: relative;
  margin-left: 30px;
  padding: 20px;
  background-color: rgb(32, 188, 86);
}

.maincontent-sm {
  padding: 20px;
  background-color: rgb(32, 188, 86);
}

.menuleftcontent {
  float: left;
  width: 205px;
  height: 20%;
  position: absolute;
  margin-left: -205px;
  padding: 20px;
  background-color: rgb(233, 233, 233);
  border: 2px rgb(0, 0, 0, .08) solid;
}

#clearingdiv {
  clear: both;
}

div.card,
div.maincontent,
div.menuleftcontent,
div.maincontent-sm,
div.box,
div.notification,
div.carousel {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.card-green {
  box-shadow: 0 4px 8px 0 rgb(0, 153, 8),
    0 6px 20px 0 rgb(0, 153, 8);
}

div.card-red {
  box-shadow: 0 4px 8px 0 rgba(184, 0, 0, 0.836),
    0 6px 20px 0 rgba(184, 0, 0, 0.836);
}

.caro-link-bg {
  background-color: rgba(0, 0, 0, 0.493);
}

.darkened-image {
  filter: brightness(50%);

}