<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- STYLESHEETS - CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <!-- upper navbar -->
    <div class="hero-head">
        <nav class="upper-navbar" role="navigation" aria-label="main navigation">
            <span class="upper-navbar-brand">
                <b><big><strong><span class="upper-navbar-title"> {% block uppertitle %} {% endblock %}
                            </span></strong></big></b>
            </span>
        </nav>
    </div>
    <!-- lower-navbar -->
    <section id="navbar">
        <div class="hero-head">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <span>
                    <b><big><strong><span id="navbar-title"> {% block date %} {% endblock %}
                                </span></strong></big></b>
                </span>
                <a id="nav-item-color" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>

                <div class="nav-center">
                    <div id="navbar" id="navbarBasicExample" class="navbar-menu">
                        <div class="navbar-start">
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black"
                                    class="bi bi-house" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                    <path fill-rule="evenodd"
                                        d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                                </svg>
                            </a>

                            <a id="nav-item-color" href="{{ url_for('main.portfolio') }}" class="navbar-item">
                                Portfolio
                            </a>
                            <a id="nav-item-color" href="{{ url_for('main.watchlist') }}" class="navbar-item">
                                Watchlist
                            </a>
                            <a id="nav-item-color" href="#" class="navbar-item">
                                News
                            </a>
                            <a id="nav-item-color" href="#" class="navbar-item">
                                Movers
                            </a>
                            <a id="nav-item-color" href="#" class="navbar-item">
                                Education
                            </a>
                            <a id="nav-item-color" href="#" class="navbar-item">
                                About Us
                            </a>
                            <a id="nav-item-color" href="#" class="navbar-item">
                                Support
                            </a>
                            {% if current_user.is_authenticated %}
                            <a id="nav-item-color" href="{{url_for('main.settings')}}" class="navbar-item">
                                Settings
                            </a>
                            {% endif %}
                        </div>


                        <div class="navbar-end">
                            <div class="navbar-item">
                                <div class="buttons">
                                    {% if not current_user.is_authenticated %}
                                    <a href="{{ url_for('auth.signup') }}" class="button is-warning">
                                        <strong>Sign up</strong>
                                    </a>
                                    <a id="nav-item-color" href="{{ url_for('auth.login') }}">
                                        <strong>Log in</strong>
                                    </a>
                                    {% endif %}
                                    {% if current_user.is_authenticated %}
                                    <a href="{{ url_for('auth.logout') }}" class="button is-danger">
                                        <strong>Log Out</strong>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <!-- page content -->
    <div> {% block content %} {% endblock %}</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script>
        $(document).ready(function () {

            // Check for click events on the navbar burger icon
            $(".navbar-burger").click(function () {

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");

            });
        });
    </script>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>

    <footer class="text-center">
        <hr>
        <br>
        <br>
        <div class="container">
            <h5 class="upper-navbar-title"><b>THE MARKET</b></h5>
            <p id="footer-p"><b>CONNECT</b></p>
            <div class="elfsight-app-b87d068d-2725-4488-9363-e3d6fac32304"></div>
            <p><b>---</b></p>
            <div class="text-center">
                <a id="footer-item-color" class="footer-item" href="{{ url_for('main.watchlist') }}">Watchlist</a>
                <a id="footer-item-color" class="footer-item" href="#">News</a>
                <a id="footer-item-color" class="footer-item" href="#">Education</a>
                <a id="footer-item-color" class="footer-item" href="#">About Us</a>
                <a id="footer-item-color" class="footer-item" href="#">Support</a>
                <a id="footer-item-color" class="footer-item" href="#">Donate</a>
            </div>

            <p id="footer-p">© 2021 Tony's Code | All Rights Reserved.</p>
            <br><br>
        </div>
        <hr id="btm-hr">
    </footer>
</body>

</html>