{% extends "base.html" %}
{% block uppertitle %} LOG IN {% endblock %}
{% block title %} Log in {% endblock %}
{% block date %} {{date}} {% endblock %}
{% block content %}
<br><br>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<br><br>
<div class="column is-4 is-offset-4">
    <div class="box">
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
            <br>
            <p>
                Forgot Your Password?
                <a href="{{url_for('auth.reset_password_request')}}">Click to Reset It</a>
            </p>
        </form>
    </div>
</div>
<br><br><br><br>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}