{% extends "base.html" %}
{% block uppertitle %} SIGN UP {% endblock %}
{% block title %} Sign up {% endblock %}
{% block date %} {{date}} {% endblock %}
{% block content %}
<br><br>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="container notification is-danger">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<br>
<div class="column is-4 is-offset-4">
    <div class="box">
        <form method="POST" action="/signup">

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="first name" placeholder="First Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="last name" placeholder="Last Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="repassword" placeholder="Re-Enter Password">
                </div>
            </div>

            <button id="marg" class="button is-block is-info is-large is-fullwidth">Sign Up</button>
        </form>
    </div>
</div>
<br><br><br><br>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}